@import './variables';
.card{
    background-color: $cyan-900;
    .card-title{
        color: $teal-600;
    }
    .card-text{
        color: $orange-600;
    }
    .card-text:nth-child(3){
        text-transform: capitalize;
    }
}